<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ todo_object.title }} -
        To do Lists
    </title>
</head>

<body>
    <main>
        <div>
            <h1> My Lists </h1>
            <table>
                <tr>
                    <th> Name </th>
                    <th> Number of items </th>
                </tr>
                <tbody>
                    <tr>
                        {% for list in todo_list}
                        <td> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>
